doctype html
html(lang='en')
  body
    h1 Access Funds for Your Collaborative Project!

    form(name="input", action="sign_withdraw/", method="POST") {% csrf_token %}
        | Transaction ID:
        input(type="text", name="transaction_id")
        br
        | Shared Funds Wallet Key 1:
        input(type="text", name="sf_key")
        br
        | Shared Funds Wallet Key 2:
        input(type="text", name="sf_key2")
        br
        br
        | Account ID:
        input(type="text", name="account_id")
        br
        br
        input(type="submit", value="Submit for Approval from Partners")
        br
        br
    form(name="input", action="/", method="POST") {% csrf_token %}
        input(type="submit", value="Back to Home")
